PRIVATE_KEY=6969ec01a5c24bf66016ebbd6e9fefa7b3a5d3b70726ac736c83abde8fe929ec

# Sepolia RPC endpoint (free public node)
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com

# Etherscan API key for contract verification
ETHERSCAN_API_KEY=B376HI8BU668EWSGMX5G6I1FXMKZUTDEBZ

# Set to "true" to print gas usage table after tests
REPORT_GAS=false